<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/products">
    <%= link_to root_path do %>
      <%= image_tag "/assets/problogo.png", class:"prob-logo" %>
    <% end %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Benefit", root_path, method: :get, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Products", root_path, method: :get, class:"nav-link" %>
      </li>

    <% if admin_signed_in? %>
    <%= link_to "New Product", new_admin_product_path, method: :get, class:"nav-link" %>
    <%= link_to "Logout", destroy_admin_session_path, method: :delete, class:"nav-item nav-link btn btn-light" %>
    <% elsif user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"nav-item nav-link btn btn-light" %>
      <%= link_to "Sign in / Sign up", new_user_session_path, class:"nav-item nav-link btn btn-light" %>
    <% end %>
    </ul>
  </div>
</nav>
